.flex{
    display: flex;

}
.fl1{
    border: 1px solid black;
    background-color: blueviolet;
    width: 200px;
}
.fl2{
    border: 1px solid black;
    margin-left: 12px;
    background-color: rgb(176, 158, 16);
    width: 200px;
    
}
.fl3{
    border: 1px solid black;
    margin-left: 12px;
    background-color: rgb(5, 161, 36);
    width: 200px;
}
.flex{
    height: 250px;
}