html {
   
}
body{
   
     
}
.mar{
    margin: 25px;
    background-color: aqua;
    border: 1px solid black;
    width: 250px;
    height: auto;
    padding: 25px;
    
   
}
.padd{
    

}
.para{
    
}